
.chess{
    border:1px solid black;
    height: 60px;
    width: 60px;
    background-color: #f8e7bb;
    
   
}
a{
    display: flex;
    justify-content:end;
    font-size: 30px;
    
}
.chess1{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    background-image: url(./wood-texture-background-red-wood-texture-background-photo.jpg);

}
.row{
    display: flex;
    justify-content: center;
}
img:hover{
    transform: scale(1.5);
}
.main{
    justify-content: center;
    text-align: center;
  
}
h1{
    font-style: italic;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    margin-bottom: -1px;

}
@media screen and (min-width: 320px) and (max-width:425px) {
    .chess{
        height: 30px;
        width: 30px;
    }
    a{
        font-size: 15px;
    }
    .chess1{
        height: 30px;
        width: 30px;
    }
    img{
        height: 22px;
        width: 15px;
        padding-top:5px !important;
    }
    img:hover{
        transform: scale(1.2);
    }
    h1{
        font-size: 18px;
    }
    h1 img{
        height: 15px;
        width: 10px;
        padding: 1px 5px 1px 5px;
        margin-bottom: -1px;
    }

}